body {
  margin: 0;
  overflow: hidden;
  position: relative;
}

/* 背景動画 */
video {
  position: fixed;      /* 画面に固定 */
  top: 0;
  left: 0;
  width: 100vw;         /* 画面幅いっぱい */
  height: 100vh;        /* 画面高さいっぱい */
  object-fit: cover;    /* はみ出しても画面を埋める */
  z-index: -2;          /* 背景にする */
}
/* 暗くするフィルター */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4); /* ←暗さ調整 */
  z-index: -1;
  pointer-events: none;
}

/* 上に表示する文字 */
.content {
  position: relative;
  z-index: 1;
  color: white;
}

#playBtn {
    position: fixed;
    left: 10px;
    bottom: 10px;
    width: 200px;
    height: 80px;
    font-size: 22px;
    z-index: 10;
}